.info-box {
	height: 70px;
	background-color: rgb(0, 188, 212);
}

.info-box-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	height: 100%;
	width: 20%;
	font-size: 32px;
	background: rgb(0, 165, 186);
	color: white;
}
.info-box-text {
	float: left;
	color: white;
	font-size: 12px;
	line-height: 5px;
	padding: 5px;
}
